@import './breakpoints.scss';
@import './tw_mixins.scss';

.section_footer {
  background-color: #010101;
  padding: 1.5rem 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  @include space(y, 2);

  &__content {
    display: flex;
    flex-direction: row;
    font-size: 0.75rem;
    line-height: 1rem;

    @include respond(sm) {
      font-size: 0.875rem;
      line-height: 1.25rem;
    }

    p {
      color: var(--clr-gray);
    }

    @media (max-width: 375px) {
      font-size: 0.6rem;
      line-height: 1rem;
    }
  }
}
